body {
  color: black;

  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

h1 {
  font-size: 96px;
  font-weight: 100;
}

h2 {
  font-size: 60px;
  font-weight: 100;

  margin-top: 32px;
  margin-bottom: 32px;
}

h3 {
  font-size: 34px;
  font-weight: 500;

  margin-bottom: 8px;
}

hr {
  margin-top: 24px;
  margin-bottom: 24px;
  border-top: 1px solid rgba(0,0,0,0.22);
}

p {
  font-size: 20px;
  line-height: 35px;
}

a {
  color: #9C27B0;
  font-weight: 500;
}

a:hover{
  color: #9C27B0;
  opacity: 0.5;
  text-decoration: none;
}

img {
  image-rendering: auto;
}

.icon {
  opacity: 0.7;
}

.title {
  color: white;
  margin-bottom: 32px;
}

.app-icon{
  border-radius: 50%;
  -moz-box-shadow: 0px 4px 4px 4px #9C27B0; 
  -webkit-box-shadow: 0px 4px 4px 4px #9C27B0;
  box-shadow: 0px 4px 4px 4px #812191;

  margin-right: 16px;
  margin-top: -64px;
}

.feature {
  text-align: justify;
  margin-bottom: 32px;
}

.feature-video{
  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border-radius: 16px;

  -moz-box-shadow: 0px 10px 60px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 10px 60px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 60px 0px rgba(0,0,0,0.1);

}

.feature-image {
  object-fit: cover;
  image-rendering: pixelated;

  -moz-border-radius: 16px 16px 16px 16px;
  -webkit-border-radius: 16px 16px 16px 16px;
  border-radius: 16px;

  -moz-box-shadow: 0px 10px 60px 0px rgba(0,0,0,0.1);
  -webkit-box-shadow: 0px 10px 60px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 10px 60px 0px rgba(0,0,0,0.1);

  margin-top: 32px;
  margin-bottom: 24px;
}

.section {
  margin-top: 64px;
  margin-bottom: 64px;
}

.faded {
  opacity: 0.2
}

.attribution {
  color: rgba(0,0,0,0.60);
}

.social {
  margin-top: 128px;
  margin-bottom: 128px;
}

.social-link {
  margin-left: 24px;
  margin-right: 24px;
  margin-bottom: 24px;
  scale: 0.8;
}

.footer {
  margin-top: 32px;
}

.copyright {
  color: rgba(0,0,0,0.44);
}

.top {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: hidden;
  z-index: -1;
}
.line{
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 700px;
  background: #9c27b0;
}
.line-1{
  z-index: 15;
  opacity: 0.5;
}
.line-2{
  z-index: 10;
  opacity: 0.7;
}
.line-3{
  z-index: 5;
}
.wave {
  position: absolute;
  left: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat no-repeat;
  background-position: 0 bottom;
  transform-origin: center bottom;
}
.wave1 {
  -webkit-background-size: 50% 80px;
  background-size: 50% 80px;
  animation: animate 120s linear infinite;
}
.wave2 {
  -webkit-background-size: 50% 80px;
  background-size: 50% 80px;
  animation: animate 60s linear infinite;
}
.wave3{
  -webkit-background-size: 50% 80px;
  background-size: 50% 80px;
  animation: animate 40s linear infinite;
}

@keyframes animate {
  0% {
    transform: translateX(0) translateY(0) scaleY(3);
  }
  50% {
    transform: translateX(-25%) translateY(0) scaleY(1.5);
  }
  100% {
    transform: translateX(-50%) translateY(0) scaleY(3);
  }
}